body {
    background-color: #2d162c;
    color: #9775a6;
}

code {
    color: #9775a6;
    background-color: #412752;
}

a {
    color: #683a68;
}

a:visited {
    color: #683a68;
}

.footer-col-wrapper {
    color: #9775a6;
}

.site-title, .site-title:visited {
    color: #412752;
}

.site-nav .page-link {
    color: #412752;
}

.post-meta {
    color: #412752;
}

pre {
    background-color: #412752;
}

table {
    color: #9775a6
;
}

table th {
    background-color: #412752;
}

table tr:nth-child(2n) {
    background-color: #683a68;
}