body {
    background-color: #1b0326;
    color: #eff9d6;
}

code {
    color: #eff9d6;
    background-color: #7a1c4b;
}

a {
    color: #7a1c4b;
}

a:visited {
    color: #7a1c4b;
}

.footer-col-wrapper {
    color: #ba5044;
}

.site-title, .site-title:visited {
    color: #7a1c4b;
}

.site-nav .page-link {
    color: #7a1c4b;
    line-height: 1.5;
}